<div class="detailsPage">
  <style id="style">
    .svg_process_color {
      width: 100%;
      }
  </style>
{{!-- <p>{{user.role}}</p> --}}
<h1>{{course.title}}</h1>
<div class="subheader">
  {{#if course.offered}}
    {{#each course.offered}}
      <p class="offeredBy">Offered by:{{this.place}}</p>
      <img class="logos" src={{this.logo}} alt={{this.place}} />
    {{/each}}
  {{/if}}
</div>
  {{#if (isAdmin user.role)}}
    <a class="button_edit" href="/courses/editCourse/{{course._id}}">Edit</a>
    <a class="button_edit" href="/courses/delete/{{course._id}}">Delete course</a>
  {{else}}
    {{#if user.isPremiumMember}}
      {{#unless enroled}}
        <a class="button_enroll"href="/courses/addCourse/{{course._id}}">Enroll course</a>
      {{/unless}}
    {{/if}}
    {{#unless user.isPremiumMember}}
      <a href="/checkout" class="button_enroll">Ir a checkout</a>
    {{/unless}}
  {{/if}}

<div class="card-info">
  <p class="sectionTitle">About:</p>
  <p class="description"> {{course.description}}</p>
  <p class="description"><strong>{{course.subdescription}}</strong></p>
  <ul>
  {{#each course.list}}
    <li class="description">{{this}}</li>
  {{/each}}
  </ul>  
  {{#if course.skills}}
    <p class="sectionTitle">Skills you will learn:</p>
    <ul>
      {{#each course.skills}}
        <li class="description">{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
</div>
<div class="card-features">
  {{#if course.features}}
    {{#each course.features}}
      <div class="groupFeatures">
        <img class="svg_features" src={{this.svg}} alt={{this.title}}/>
        <div class="card-featContent">
          <div class="featuresDescription">{{this.title}}</div>
          <div class="featuresDescription">{{this.subtitle}}</div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>

    {{#if course.content}}
      <h3>PROGRESS</h3>
      <div id='div_svg'>
        <img id="svg_process_color" class="svg_process_color delay-1" src="/images/SVG/WEB_DEV/Background process modules - skills color.svg"/>
      </div>
      <div class="navbar_content_title">
        {{#each course.content}}
          <h4 class='title'>{{this.title}} {{this.subtitile}}</h4>
        {{/each}}
      </div>
      {{#each course.content}}
        <div class="div_content no_active_display">
            <img class="weekImage" src={{this.image}} alt={{this.title}} />
          <div>
            <h2>{{this.subtitle}}</h2>
            <p class="sectionTitle">Duration: {{this.time}}</p>
            <p class="sectionTitle">{{this.title_description}}</h5>
            <p class="description">{{this.description_1}}</p>
            <p class="description">{{this.description_2}}</p>
            <p class="description">{{this.description_3}}</p>
            <p class="description">{{this.description_4}}</p>
          </div>
        </div>
      {{/each}}
    {{/if}}
    {{#if course.reasons}}
          <br>
        <div class="sectionTitle">{{course.title_why}}</div>
          <br>
          {{#each course.reasons}}
            <div class="description">{{this.subtitle}}</div>
            <br>
            {{#each this.list}}
              <div class="description">{{this}}</div>
              <br>
            {{/each}}
            <div class="description">{{this.description}}</div>
            <br>
        {{/each}}
    {{/if}}
    {{#if review_user}}
      {{#if success_message}}
        <h1>Review deleted successfully</h1>
      {{/if}}
      {{#if user}}
        {{#if enroled}}
          {{#unless review_user}}
            <form class="review-form" method="POST" action="/reviews/newReview/{{course._id}}">
              <label>How would you rate this course?</label>
              <div class="stars-view">
                <img class="star" src="/images/SVG/REVIEWS/Navy-blue.svg" alt='star_1'/>
                <img class="star" src="/images/SVG/REVIEWS/Navy-blue.svg" alt='star_2'/>
                <img class="star" src="/images/SVG/REVIEWS/Navy-blue.svg" alt='star_3'/>
                <img class="star" src="/images/SVG/REVIEWS/Navy-blue.svg" alt='star_4'/>
                <img class="star" src="/images/SVG/REVIEWS/Navy-blue.svg" alt='star_5'/>
              </div>
              <input class="no_active_display" type="number" placeholder="5" name="stars" min="1" max="5" required="true"/>
              <label>Comment:</label>
              <input type="text" placeholder="I really liked this course" name="comment" required="true"/>
              <button type="submit">Add review</button>
              <h5 style=color:red id="error_message" class="no_active_display">It is mandatory to choose a score, and write a comment</h5>
            </form>
            
         {{/unless}}
        {{/if}}
     {{/if}}
    </div>
  </div>
</div>


<script src="/script/dom_details.js"></script>