<h3>Courses</h3>

<form method="GET" action="/courses/search"> 
  <label>Search by title</label>
  <input type="text" name="title"/>
  <button type="submit">Search</button>
</form>

{{#each courses}}
 <div>
  <h4>{{this.title}}</h4>
  <img width="150px" src={{this.image}} alt={{this.title}}/>
  <p>Description: {{this.description}}.</p>
  {{#if user}}
  <p>Subcategories: {{this.subcategories}}.</p>
  {{else}}
  <p>Subcategories: <a href="/auth/signup">SUBSCRIBE TO SEE MORE</a></p>
  {{/if}}
  {{!-- <a href="/courses/{{this _id}}">See details</a> --}}
</div>
{{/each}}

<p>This course is the first of a series that aims to prepare you for a role as an entry-level IT Support Specialist. In this course, you’ll be introduced to the world of Information Technology, or IT. You’ll learn about the different facets of Information Technology, like computer hardware, the Internet, computer software, troubleshooting, and customer service. This course covers a wide variety of topics in IT that are designed to give you an overview of what’s to come in this certificate program.

By the end of this course, you’ll be able to:
<b></b>
understand how the binary system works

● assemble a computer from scratch
● choose and install an operating system on a computer
● understand what the Internet is, how it works, and the impact it has in the modern world</p>
