<div class="containerHome">
  {{#if delete_course}}
    <div class="popup-message">
      <h1> Course deleted succesfully!</h1>
    </div>
  {{/if}}

  {{#if user}}
    <div class="popup-message">
      <h1>Let's start learning,&#x1F600; {{user.username}}!</h1>
    </div>
  {{/if}}
  {{#if user.isPremiumMember}}
{{!-- 
    <div class="cardPlan">
      <div class="card-plan-Premium">
        <h3>{{user.username}} you are enjoying our premium plan</h3>
      </div>
    </div> --}}
  {{else}}
    <div class="cardPlan">
      <div class="card-plan-Premium">
        <h2>Course4u</h2>
        <div class="premiumText">
     <h3>"Take your learning to the next level with Course4u's premium courses. Sign up and subscribe today to gain exclusive access to our top-quality courses and unlock your full potential."</h3>
        </div>
        <a {{#if user}} href="/checkout" {{else}} href="/auth/signup&subscribe" {{/if}} >Subscribe</a>
        <h4> €21.99 per month</h4>
      </div>
      <div class="homepic">
        <img src="/images/homepic.jpg" alt="home pic" />
      </div>
    </div>

    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
  
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
            height="100"
            width="250"
            alt=""
          />
          <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        </div>
           <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
      </div>
    </div>

  {{/if}}
  <div class="card-container">
    {{#each courses}}
      <div class="card-course {{this.title}}" id="{{_id}}">
        <h4>{{this.title}}</h4>
        <img width="150px" src={{this.image}} alt={{this.title}} />
        <p>{{truncate this.description 50}}...</p>
      </div>
    {{/each}}
  </div>
</div>



<script src="/script/courseView.js"></script>

<!-- <p>This course is the first of a series that aims to prepare you for a role as an entry-level IT Support Specialist. In this course, you’ll be introduced to the world of Information Technology, or IT. You’ll learn about the different facets of Information Technology, like computer hardware, the Internet, computer software, troubleshooting, and customer service. This course covers a wide variety of topics in IT that are designed to give you an overview of what’s to come in this certificate program.

By the end of this course, you’ll be able to:
<b></b>
understand how the binary system works

● assemble a computer from scratch
● choose and install an operating system on a computer
● understand what the Internet is, how it works, and the impact it has in the modern world</p> -->