<div class="editCourse">
  <h1>EDIT COURSE</h1>
  <hr />
  <form
    class="editCourseForm"
    action="/courses/editCourse/{{course._id}}"
    method="post"
  >
    <h1>{{course.title}}</h1>
    <label>Title:</label>
    <input type="text" name="title" value="{{course.title}}" />

    <label>Description:</label>
    <textarea name="description">{{course.description}}</textarea>

    <label>Subdescription:</label>
    <textarea name="subdescription">{{course.subdescription}}</textarea>
{{#if course.list}}
  <label>List:</label>
  {{#each course.list}}
    <input type="text" name="list_{{@index}}" value="{{this}}" />
  {{/each}}
{{/if}}

{{#each course.skills}}
  <label>Skills:</label>
  <input type="text" name="skills_{{@index}}" value="{{this}}" />
{{/each}}

{{#if course.features}}
  <label>FEATURES</label>
  {{#each course.features}}
    <label>Title:</label>
    <input
      type="text"
      name="features_title_{{@index}}"
      value="{{this.title}}"
    />
    <label>Subtitle:</label>
    <input type="text" name="features_subtitle_{{@index}}" value="{{this.subtitle}}" />

    <label>SVG:</label>
    <input type="text" name="features_svg_{{@index}}" value="{{this.svg}}" />
  {{/each}}
{{/if}}

<label>Offered By:</label>
{{#if course.offered}}
  {{#each course.offered}}
    <label>Place:</label>
    <input type="text" name="offered_place_{{@index}}" value="{{this.place}}" />
    <label>Logo:</label>
    <input type="text" name="offered_logo_{{@index}}" value="{{this.logo}}" />
  {{/each}}
{{/if}}

<label>Content:</label>
{{#if course.content}}
  {{#each course.content}}
    <label>Title:</label>
    <input type="text" name="content_title_{{@index}}" value="{{this.title}}" />
    <label>Subtitle:</label>
    <input type="text" name="content_subtitle_{{@index}}" value="{{this.subtitle}}" />
    <label>Time:</label>
    <input type="text" name="content_time_{{@index}}" value="{{this.time}}" />
    <label>Image:</label>
    <input type="text" name="content_image_{{@index}}" value="{{this.image}}" />
    <label>Title Description:</label>
    <input
      type="text"
      name="content_title_description_{{@index}}"
      value="{{this.title_description}}"
    />
    <label>Description 1:</label>
    <input
      type="text"
      name="content_description_1_{{@index}}"
      value="{{this.description_1}}"
    />

    <label>Description 2:</label>
    <input
      type="text"
      name="content_description_2_{{@index}}"
      value="{{this.description_2}}"
    />
   <input
  type="text"
  name="content_description_3_{{@index}}"
  value="{{this.description_3}}"/>
      {{/each}}
    {{/if}}
    <input type="submit" value="Update Course" />
  </form>
</div>
