<div class="editCourse">
    <form action="/courses/newCourse" method="post">
            <h1>Add New Course</h1>
            <label>Category: </label>
            <input type="text" name="category" placeholder="{{course.category}}" />
            <label>Title:</label>
            <input  type="text" name="title" placeholder="{{course.title}}" />
            <label>Description:</label>
            <input  type="text" name="description" placeholder="{{course.description}}" />
            <label>List:</label>
            <input  type="text" name="description" placeholder="{{course.list}}" />
            <label>Image: </label>
            <input type="text" name="image" placeholder="https://.../" />

            <h1>Skills</h1>
            <label>Logo Business: </label>
            <input type="text" name="skills" placeholder="{{course.skills}}" />
      
            <h1>Offered by: </h1>
            <label>Logo Business: </label>
            <input  type="text" name="logo" placeholder="https://.../" />
            <label>Place:</label>
            <input  type="text" name="place" placeholder="{{offered.place}}" />

            <h1>Content</h1>
            <label>Image: </label>
            <input type="text" name="image" placeholder="https://.../" />
            <label>Title:</label>
            <input  type="text" name="title" placeholder="{{course.title}}" />
            <label>Subtitle:</label>
            <input  type="text" name="subtitle" placeholder="{{course.description}}" />
            <label>Time to complete the course:</label>
            <input  type="text" name="time" placeholder="{{course.description}}" />
            <label>Title of the description of the content:</label>
            <input  type="text" name="title_description" placeholder="{{course.description}}" />
            <label class="content_description no_active_display">First description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_0" placeholder="description_0">
            <label class="content_description no_active_display">Second description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_1" placeholder="description_1">
            <label class="content_description no_active_display">Third description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_2" placeholder="description_2">
            <label class="content_description no_active_display">Fourth description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_3" placeholder="description_3">
            <label class="content_description no_active_display">Fifth description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_4" placeholder="description_4">
            <label class="content_description no_active_display">Sixth description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_5" placeholder="description_5">
            <label class="content_description no_active_display">Seventh description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_6" placeholder="description_6">
            <label class="content_description no_active_display">Eighth description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_7" placeholder="description_7">
            <label class="content_description no_active_display">Ninth description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_8" placeholder="description_8">
            <label class="content_description no_active_display">Tenth description paragraph:</label>
            <input class="content_description no_active_display" type="text" name="description_9" placeholder="description_9">
            <h3 id="btn_content_description">Add description field</h3>
            <h3 id="limit_message_content" class="no_active_display">You can't add more fields</h3>

            <h1>Features</h1>
            <div>
                <label>Deadlines: Is it flexible or not?</label>
                <input  type="text" name="features_title_1" placeholder="Flexible deadlines" />
                <label class="no_active_display features">Subtitle deadlines</label>
                <input  class="no_active_display features" type="text" name="features_subtitle_1" placeholder="Choose a date prior to..." />
                <h3 class="btn_subtitle_features" >Add subtitle field</h3>
            </div>
            <div>            
                <label>Type of certificate</label>
                <input  type="text" name="features_title_2" placeholder="Shareable Certificate" />
                <label class="no_active_display features">Subtitle certificate information</label>
                <input class="no_active_display features" type="text" name="features_subtitle_2" placeholder="Earn a certificate upon..." />
                <h3 class="btn_subtitle_features" >Add subtitle field</h3>
            </div>
            <div>
                <label>Modality type: Is it online, face-to-face, or both?</label>
                <input  type="text" name="features_title_3" placeholder="100% online" />
                <label class="no_active_display features">Subtitle modality</label>
                <input class="no_active_display features" type="text" name="features_subtitle_3" placeholder="Learn with professional..." />
                <h3 class="btn_subtitle_features" >Add subtitle field</h3>
            </div>
            <div>
                <label>Level: Beginner, medium, high</label>
                <input  type="text" name="features_title_4" placeholder="Beginner Level" />            
                <label class="no_active_display features">Subtitle level</label>
                <input class="no_active_display features" type="text" name="features_subtitle_4" placeholder="Learn from cero base" />
                <h3 class="btn_subtitle_features" >Add subtitle field</h3>
            </div>
            <div>
                <label>Timeframe: How many weeks or months does it take to complete the course?</label>
                <input  type="text" name="features_title_5" placeholder="26 weeks to complete" />
                <label class="no_active_display features">Subtitle timeframe for more information</label>
                <input class="no_active_display features" type="text" name="features_subtitle_5" placeholder="Partial-time and full-time modality" />
                <h3 class="btn_subtitle_features" >Add subtitle field</h3>
            </div>
            <div>            
                <label>Languages: what languages are the courses in?</label>
                <input  type="text" name="features_title_6" placeholder="English or Spanish" />
                <label class="no_active_display features">Subtitle languages</label>
                <input class="no_active_display features" type="text" name="features_subtitle_6" placeholder="Choose your language preference" />
                <h3 class="btn_subtitle_features">Add subtitle field</h3>
            </div>

            <h1>Reasons</h1>
            <label>Title Reason</label>
            <input  type="text" name="title_why" placeholder="{{course.title_why}}" />
            <label>title: what languages are the courses in?</label>
            <input  type="text" name="title_why" placeholder="English or Spanish" />

            

            <input type="submit" value="Create Course">
   </form>

            <input type="submit" value="Create Course" />
   </form>
</div>  

<script src="/script/new_course.js"></script>
          
     

