<div class="searchPage">
  <h3>RESULTS by: {{query}}</h3>
  <div class="searchcontainer">
    {{#if course}}
      {{#each course}}
        <div class="searchCard {{this.title}}" id="{{_id}}">
          <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
          </div>
          <h3 class="title">{{this.title}}</h3>
          <img src="{{this.image}}" alt="{{this.title}}" />
        </div>
      {{/each}}
    {{else}}
    <div class="msnNoCourse">
      <p>Sorry, no courses found by {{query}}. Try again:</p>
      <a href="/courses">go back to courses</a>
    </div>
    {{/if}}
  </div>
</div>

<script src="/script/courseView.js"></script>